.container {
  width: 255px;
  height: 288px;
  padding: 50px;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  margin-bottom: 20px;
  align-self: center;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.currencies {
  width: 80px;
  border-radius: 0px;
  border-left: 0px;
  color: #2b3b48;
  font-weight: 500;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 15px;
}
.value {
  width: 135px;
  height: 48px;
  border-radius: 0px;
  color: #2b3b48;
  font-weight: 500;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}

.currencyOption {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: rgb(152, 5, 5);
}

.exchangeResult {
  width: 165px;
  border-radius: 0px;
  color: #2b3b48;
  font-weight: 500;
  letter-spacing: normal;
  font-stretch: normal;
  font-style: normal;
}

.tryText {
  width: 50px;
  border-radius: 0;
  border: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .formContainer {
    width: 85%;
  }
  .value {
    width: 100%;
  }
  .exchangeResult {
    width: 100%;
  }
}
