.container {
  padding: 25px 20px;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  margin-bottom: 20px;
  align-self: center;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.currencies {
  width: 30%;
  border-radius: 0px;
  border-left: 0px;
}
.value {
  width: 70%;
  border-radius: 0px;
}
